
<div class="col-sm-3 col-md-3 col-lg-3">
        <div class="well">
            <div class="list-group">
                <a href="/" class="list-group-item list-group-item-info">MongoDB
                    <br/>
                    <I>A General Purpose Database</I>
                </a>

            </div>
            <div class="list-group">
                <!--Versatile - Supports a wide variety of data models and queries -->
                <a href="#" class="list-group-item list-group-item-success">Versatile</a>
                <a href="/FacetSearch" class="list-group-item <%= ((active === 'facet') ? 'active' : '') %>">Faceted Search</a>
                <a href="/TextSearch" class="list-group-item <%= ((active === 'text') ? 'active' : '') %>">Text Search</a>
                <a href="/GraphSearch" class="list-group-item <%= ((active === 'graph') ? 'active' : '') %>">Graph Queries</a>
                <a href="/GeoSearch" class="list-group-item <%= ((active === 'geo') ? 'active' : '') %>">Geo-spatial Search</a>
                <a href="/AggFramework" class="list-group-item <%= ((active === 'agg') ? 'active' : '') %>">Aggregation Framework</a>
            </div>

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success">Data Analytics</a>
                <a href="/SparkIntegration" class="list-group-item <%= ((active === 'spark') ? 'active' : '') %>">Spark Integration</a>
                <a href="/Reporting" class="list-group-item <%= ((active === 'reporting') ? 'active' : '') %>">Reporting Tools</a>
                <a href="/ChangeStreams" class="list-group-item <%= ((active === 'changestreams') ? 'active' : '') %>">Tracking Changes</a>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success">Relational-like</a>
                <a href="/Constraints" class="list-group-item <%= ((active === 'constraints') ? 'active' : '') %>">Constraints</a>
                <a href="/Views" class="list-group-item <%= ((active === 'views') ? 'active' : '') %>">Views</a>
                <a href="/Joins" class="list-group-item <%= ((active === 'joins') ? 'active' : '') %>">Joins</a>
            </div>

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success">Operations</a>
                <a href="/HighAvailability" class="list-group-item <%= ((active === 'ha') ? 'active' : '') %>">High Availability</a>
            </div>

        </div><!--well-->
</div><!--col-->